<footer class="container mx-auto dark:bg-gray-800">
  <hr class="my-2 mx-4 border-opacity-40 border-y border-green-500 dark:border-gray-700" />
  <div class="flex items-center justify-between mx-4">
    <div class="flex flex-auto justify-center mt-4 space-x-8">
      <a
        href="https://github.com/CxdeCrusher"
        class="text-gray-500 mb-6 transition ease-linear duration-200 hover:text-green-500 dark:hover:text-white hover:scale-125">
        <fa-icon [icon]="['fab', 'github']" size="3x"></fa-icon>
      </a>
      <a
        href="https://www.linkedin.com/in/dheeraj-ramlal/"
        class="text-gray-500 mb-6 transition ease-linear duration-200 hover:text-green-500 dark:hover:text-white hover:scale-125">
        <fa-icon [icon]="['fab', 'linkedin']" size="3x"></fa-icon>
      </a>
      <a
        href="mailto:rdramlal@protonmail.com"
        class="text-gray-500 mb-6 transition ease-linear duration-200 hover:text-green-500 dark:hover:text-white hover:scale-125">
        <fa-icon [icon]="['fas', 'envelope']" size="3x"></fa-icon>
      </a>
    </div>
  </div>
</footer>
