<header class="max-h-full bg-white p-6 grid">
  <nav class="w-full grid justify-end">
    <ul class="hidden md:flex space-x-8 font-bold text-gray-700">
      <li><a routerLink="/" routerLinkActive="text-green-500" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li><a routerLink="/about-me" routerLinkActive="text-green-500">About me</a></li>
      <li><a routerLink="/projects" routerLinkActive="text-green-500">Projects</a></li>
      <li><a routerLink="/contact" routerLinkActive="text-green-500">Contact me</a></li>
    </ul>
    <div class="md:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-gray-700 cursor-pointer" fill="none"
        viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </div>
  </nav>
