<div class="container mx-auto my-4 md:mt-0 md:space-x-10 md:grid grid-cols-3 justify-center md:py-40">
  <div class="grid justify-center items-center order-1 col-span-1">
    <img class="md:h-64 h-40" src="assets/images/pages/contact_me.svg" alt="Profile">
  </div>
  <div class="mt-8 md:mt-0 lg:justify-end col-span-2 mx-4">
    <p class="text-4xl text-green-500 text-center font-extrabold md:text-6xl md:text-left">Contact me.</p>
    <p class="text-xl font-medium text-gray-600 leading-normal mb-8 text-center md:text-left">
      In case you have a request or question, don't hesitate to use the form below.
    </p>
    <form [formGroup]="contactForm" (ngSubmit)="onFormSubmit(contactForm.value)" autocomplete="off">
      <!-- <pre> Value: {{ contactForm.value | json }} </pre> -->
      <label class="block text-green-500 text-sm font-bold mb-2" for="name">
        Name
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2"
        type="text" formControlName="name">
      <label class="block text-green-500 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2"
        type="text" formControlName="email">
      <label class="block text-green-500 text-sm font-bold mb-2" for="message">
        Message
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2"
        type="text" formControlName="message">
      <button
        class="block mt-6 mx-auto md:mx-0 text-lg py-2 px-4 text-white font-medium rounded transition ease-linear delay-75 hover:scale-105 hover:bg-green-600 bg-green-500 disabled:bg-gray-600"
        [disabled]="contactForm.invalid">
        Save
      </button>
    </form>
  </div>
</div>
