<div class="container mx-auto my-4 md:mt-0 md:space-x-10 md:grid grid-cols-3 justify-center md:py-40">
  <div class="grid justify-center items-center order-1 col-span-1">
    <img class="lg:h-80 md:h-64 h-40" src="assets/images/pages/contact_me.svg" alt="Profile">
  </div>
  <div class="mt-8 md:mt-0 lg:justify-end col-span-2 mx-4">
    <p class="text-4xl text-green-500 text-center font-extrabold md:text-6xl md:text-left">Contact me.</p>
    <p class="text-xl font-medium text-gray-600 leading-normal mb-8 text-center md:text-left">
      In case you have a request or question, don't hesitate to use the form below.
    </p>
  </div>
</div>
