<!-- Section Hero  -->
<div class="container mx-auto my-4 md:mt-0 md:space-x-10 md:grid grid-cols-3 md:py-40">
  <div class="grid justify-center items-center order-1 col-span-1">
    <img class="lg:h-80 md:h-64 h-40 rounded-full transition ease-linear delay-75 hover:scale-105" src="assets/images/pages/profile_picture.svg" alt="Profile">
  </div>
  <div class="mt-8 md:mt-0 lg:justify-end col-span-2 mx-4">
    <p class="text-4xl text-green-500 text-center font-extrabold md:text-6xl md:text-left">I'm Dheeraj, a Software Engineer.</p>
    <p class="text-xl font-medium text-gray-600 leading-normal mb-8 text-center md:text-left">
      I'm a Software Engineer based in The Netherlands with a passion for technology. I enjoy movies and TV series, fitness,
      food, and traveling.
    </p>
    <button routerLink="/about"
      class="block mt-6 mx-auto md:mx-0 text-lg py-2 px-4 text-white font-medium rounded transition ease-linear delay-75 hover:scale-105  hover:bg-green-600 bg-green-500">More about
      me</button>
  </div>
</div>
