<!-- Section Hero  -->
<div class="container mx-auto mt-8 mb-8 md:mt-0 md:space-x-10 md:grid grid-cols-3 justify-center md:py-40">
  <div class="grid justify-center items-center order-1 col-span-1">
    <img class="lg:h-80 md:h-64 h-40 rounded-full" src="assets/images/pages/profile_picture.svg" alt="Profile">
  </div>
  <div class="mt-8 md:mt-0 lg:justify-end col-span-2 mx-4">
    <p class="text-4xl text-gray-700 text-center md:text-left">Hi, I am Dheeraj Ramlal.</p>
    <p class="text-lg font-medium text-gray-700 text-center md:text-left">A Software Engineer based in The Netherlands
      with a
      passion for technology. An organized individual, problem solver, and an independent worker with a strong attention
      to detail. Enjoy movies and TV series, fitness, food, and traveling.
    </p>
    <button routerLink="/about-me"
      class="block mt-6 mx-auto md:mx-0 text-lg py-2 px-4 text-white rounded transition ease-linear delay-75 hover:scale-105  hover:bg-green-600 bg-green-500">About
      me</button>
  </div>
</div>
