<!-- Section Hero  -->
<div class="container mx-auto my-4 md:mt-0 md:space-x-10 md:grid grid-cols-3 justify-center md:py-40">
  <div class="grid justify-center items-center order-1 col-span-1">
    <img class="lg:h-80 md:h-64 h-40" src="assets/images/pages/resume.svg" alt="Profile">
  </div>
  <div class="mt-8 md:mt-0 lg:justify-end col-span-2 mx-4">
    <p class="text-4xl text-green-500 text-center font-extrabold md:text-6xl md:text-left">About me.</p>
    <p class="text-xl font-medium text-gray-600 leading-normal mb-8 text-center md:text-left">
      I am Dheeraj, a Software Engineer based in The Netherlands with a passion for technology. I enjoy movies and TV
      series, fitness,
      food, and traveling.
    </p>
    <p class="text-xl font-medium text-gray-600 leading-normal mb-8 text-center md:text-left">
      I am familiar with C#, .NET, JavaScript, Python, Microsoft Azure, SQL Server, CI/CD and much more.
    </p>
    <button routerLink="/portfolio"
    class="block mt-6 mx-auto md:mx-0 text-lg py-2 px-4 font-medium text-white rounded transition ease-linear delay-75 hover:scale-105  hover:bg-green-600 bg-green-500">View portfolio</button>
  </div>
</div>